body {
    margin: 0px;
    padding: 0px;
    background-color: blue;
    background: #efefef;
    font-size: 19px;
    color: #3A4DC6;
    font-family: sans-serif;
    font-weight: 300;
}


/* For grid system for display */

.container {
    display: grid;
    grid-template-columns: 1fr;
}


/* For iteam spaced between each other  */

.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.Center-side {
    text-align: center;
}


/* For item relative next to each other */

.left-side {
    display: flex;
}


/* For still item in uppercase and fix margin */

.nav-wrap>.left-side>div {
    margin-right: 20px;
    font: size 0.9em;
    text-transform: uppercase;
}

.right-box {
    position: relative;
    top: 50px;
    left: 0;
    box-sizing: content-box;
    padding: 40px;
    width: 300px;
    height: 600px;
    float: right;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    spn.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.bg-img {
    /* The image used */
    background-image: url("logo.png");
    min-height: 600px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Add styles to the form container */

.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 26px;
    background-color: white;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}